In [1]:
import pandas as pd
from tqdm import tqdm
import os

from datetime import date as dt
from datetime import datetime

from src.utils import train_tune_test_split, filter_rows, get_count

In [2]:
t_mall = '/home/jb/ved/datasets/Tmall/ijcai2016_taobao.csv'
t_mall_frequences_train = '/home/jb/ved/datasets/Tmall/tmall_frequences_train.csv'
t_mall_frequences_test = '/home/jb/ved/datasets/Tmall/tmall_frequences_test.csv'
tmall_sequences_train = '/home/jb/ved/datasets/Tmall/sequences.tsv'
tmall_baskets_train = '/home/jb/ved/datasets/Tmall/baskets_train.tsv'
tmall_baskets_test = '/home/jb/ved/datasets/Tmall/basket_test.tsv'

ta_feng = '/home/jb/ved/datasets/Ta_feng/ta_feng_all_months_merged.csv'
ta_feng_frequences_train = '/home/jb/ved/datasets/Ta_feng/tafeng_frequences_train.csv'
ta_feng_frequences_test = '/home/jb/ved/datasets/Ta_feng/tafeng_frequences_test.csv'

# for auto-reloading external modules
%load_ext autoreload
%autoreload 2
pd.options.display.max_rows = 500

# Tmall Dataset

In [3]:
df_tmall = pd.read_csv(t_mall, encoding="ISO-8859-1", sep=',', error_bad_lines=False, usecols=[0,2,4,5], names=['user', 'item', 'action', 'time'])
df_tmall = df_tmall[(df_tmall['action']==1)] 
df_tmall = df_tmall[['user', 'item', 'time']] 

# assume each user only makes at most one transaction everyday
df_tmall['trans_id'] =  df_tmall['user'].astype(str) + df_tmall['time'].astype(str) 
# sort before finding the products in the same basket
df_tmall = df_tmall.sort_values(['trans_id'])

/home/jb/.cache/pypoetry/virtualenvs/data-processing-for-seq-embeddings-reco-8_F3BWAW-py3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (0,2,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# Associate transaction id for each row
user = df_tmall.user.values[0]
trans_buf_id = df_tmall.trans_id.values[0]
trans = 0
trans_id_list = []
for i in tqdm(range(df_tmall.shape[0])):
    if df_tmall.user.values[i] == user:
        if df_tmall.trans_id.values[i] != trans_buf_id:
            trans += 1
            trans_buf_id = df_tmall.trans_id.values[i]
        trans_id_list.append(trans)
    else:
        user = df_tmall.user.values[i]
        trans_buf_id = df_tmall.trans_id.values[i]
        trans = 0
        trans_id_list.append(trans)
df_tmall['trans_id'] = trans_id_list

100%|██████████| 9336595/9336595 [01:28<00:00, 105309.85it/s]

In [5]:
# remove users with less than 'min_uc' counts, and items with less than 'min_sc' counts
# k-cores filtering, cf. FPMC
df_tmall, user_activity, item_popularity = filter_rows(df_tmall, min_uc=25, min_sc=15)

In [6]:
users = df_tmall.user.nunique()
items = df_tmall.item.nunique()
print(f"After filtering:\n   users: {users}\n   items: {items}")

After filtering:
   users: 39157
   items: 91572

In [7]:
# exclude users with less than 10 transactions in total
user = df_tmall.user.values[0]
start = 0
df_list = []
train_test = [] # initial train_test indicator
for i in tqdm(range(df_tmall.shape[0])): # find transactions of each customer
    if df_tmall['user'].values[i] == user:
        continue
    df_user = df_tmall.iloc[start:i,:].copy()
    if df_user.trans_id.max() > 9: 
        df_list.append(df_user)
    user = df_tmall.user.values[i]
    start = i
df_tmall_filtered = pd.concat(df_list)
df_tmall_filtered = df_tmall_filtered[['user', 'item', 'trans_id']]
df_tmall_filtered.head(5)

100%|██████████| 1462418/1462418 [00:16<00:00, 87432.66it/s]

             user     item  trans_id
20898186  1000038   322669         1
20913818  1000038  1749077         1
35188420  1000038  1814039         2
35188419  1000038  1814039         3
35188422  1000038  1814039         4

In [8]:
users = df_tmall_filtered.user.nunique()
items = df_tmall_filtered.item.nunique()
print(f"After transaction filtering:\n   users: {users}\n   items: {items}")

After transaction filtering:
   users: 32510
   items: 90404

In [9]:
sparsity = 1. * df_tmall_filtered.shape[0] / (users * items)
print(f"Dataset sparsity: {round(sparsity*100, 2)}%")

Dataset sparsity: 0.04%

In [10]:
# structures used to numerize the id (ie. to associate incremental integers to have a continuous list of numbers as ids)
users_id = pd.unique(df_tmall_filtered['user'])
items_id = pd.unique(df_tmall_filtered['item'])

In [11]:
item2id = dict((iid, i) for (i, iid) in enumerate(items_id))
user2id = dict((uid, i) for (i, uid) in enumerate(users_id))

# def numerize(tp):
#     uid = list(map(lambda x: user2id[x], tp['user']))
#     iid = list(map(lambda x: item2id[x], tp['item']))
#     return pd.DataFrame(data={'uid': uid, 'iid': iid, 'tid': tp['trans_id']}, columns=['uid', 'iid', 'tid'])

In [12]:
numerized_data = df_tmall_filtered
numerized_data.user = numerized_data.user.apply(lambda x: user2id[x])
numerized_data.item = numerized_data.item.apply(lambda x: item2id[x])
numerized_data = numerized_data.rename(columns={'trans_id': 'tid'})
numerized_data.head(10)

          user  item  tid
20898186     0     0    1
20913818     0     1    1
35188420     0     2    2
35188419     0     2    3
35188422     0     2    4
23180154     0     3    5
18264956     0     4    6
18264958     0     4    6
18264963     0     4    6
40222508     0     5    7

In [13]:
# convert into sequences for each user
start = 0
df_dict_train = {}
df_dict_test = {}
df_dict_test_user_bool = {}
buf_seq_train = []
buf_seq_test = []
user = numerized_data.user.values[0]

for i in tqdm(range(numerized_data.shape[0])):
    if numerized_data['user'].values[i] == user:
        continue
    df_user = numerized_data.iloc[start:i,:].copy()
    user_known_items = set()

    for j in range(0, df_user.tid.max() + 1):            
        trans_items = set(df_user.loc[df_user.tid == j,'item'])
        if not len(trans_items) == 0:
            if j == df_user.tid.max():
                test_trans_items = set()
                for k in trans_items:
                    if k not in user_known_items:
                        test_trans_items.add(k)
                if len(test_trans_items) == 0:
                    df_dict_test_user_bool[user] = 0
                else:
                    df_dict_test_user_bool[user] = 1
                buf_seq_test.append(test_trans_items)
            else:    
                for k in trans_items:
                    user_known_items.add(k)
                buf_seq_train.append(trans_items)
    
    df_dict_train[user] = buf_seq_train
    df_dict_test[user] = buf_seq_test

    buf_seq_test = []
    buf_seq_train = []
    user = numerized_data.user.values[i]
    start = i    
    
sequences = pd.DataFrame()
sequences['user'] = df_dict_train.keys()
sequences['test_user'] = df_dict_test_user_bool.values()
sequences['sequence_train'] = df_dict_train.values()
sequences['sequence_test'] = df_dict_test.values()

100%|██████████| 1251569/1251569 [03:17<00:00, 6322.90it/s]
/home/jb/.cache/pypoetry/virtualenvs/data-processing-for-seq-embeddings-reco-8_F3BWAW-py3.8/lib/python3.8/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [14]:
sequences[sequences['test_user'] == 1]

,user,test_user,sequence_train,sequence_test
0,0,1,"[{0, 1}, {2}, {2}, {2}, {3}, {4}, {5, 6}, {5},...","({11},)"
1,1,1,"[{12}, {13}, {14}, {15}, {16, 17}, {16}, {18},...","({40, 39},)"
2,2,1,"[{41, 42, 43, 44, 45, 46}, {48, 49, 47}, {50, ...","({126, 127},)"
3,3,1,"[{2}, {128, 129}, {130}, {85}, {131}, {132}, {...","({143},)"
5,5,1,"[{160, 161, 162, 77, 79, 151, 152, 153, 154, 1...","({206},)"
...,...,...,...,...
32504,32504,1,"[{9344}, {6958}, {54858}, {2357}, {46045}, {67...","({39419},)"
32505,32505,1,"[{13731, 12766, 28300, 2062, 3671, 11162, 6970...","({45664},)"
32506,32506,1,"[{23358}, {6701}, {3326}, {52900, 19037, 49897...","({60984, 27705},)"
32507,32507,1,"[{78907, 7869}, {30317, 19492, 20117, 6476}, {...","({5767},)"
32508,32508,1,"[{5264}, {3084}, {34173}, {131}, {417, 20971, ...","({65637, 34454},)"

In [15]:
sequences.at[0, 'sequence_train']

[{0, 1}, {2}, {2}, {2}, {3}, {4}, {5, 6}, {5}, {2}, {7}, {8}, {9}, {10}]

In [16]:
sequences.at[0, 'sequence_test']

({11},)

In [17]:
# convert the train sequences into lines <(itemset1) (itemset2)... (itemsetk)> for each user into a file

with open(tmall_sequences_train, 'w') as out_file:
    for i in tqdm(range(sequences.shape[0])):

        seq = sequences.sequence_train.values[i]

        c = 0
        seq_string = ""
        for itemset in seq:
            c += 1
            for item in itemset:  
                seq_string = seq_string + str(item) + " "
            if c != len(seq):
                seq_string = seq_string + "-1 "
                
        out_file.write(seq_string+"-2\n")

100%|██████████| 32509/32509 [00:00<00:00, 48384.37it/s]

In [20]:
# convert the train sequences into lines:
#       < user (itemset1) >
#       < user (itemset2) >
#       < user (itemset3) >
#              ...
#       < user (itemsetk) >

with open(tmall_baskets_train, 'w') as train_file, open(tmall_baskets_test, 'w') as test_file:

    for i in tqdm(range(sequences.shape[0])):

        user = sequences.user.values[i]
        seq_train = sequences.sequence_train.values[i]

        seq_string = str(user) + ", "
        for itemset in seq_train:
            for item in itemset:  
                seq_string = seq_string + str(item) + " "

            train_file.write(seq_string + "\n")
            seq_string = str(user) + ", "

        if sequences.test_user.values[i] == 1:
            seq_string = str(user) + " "
            seq_test = sequences.sequence_test.values[i]

            for itemset in seq_test:
                for item in itemset:  
                    seq_string = seq_string + str(item) + " "
                test_file.write(seq_string + "\n")
                seq_string = str(user) + ", "

100%|██████████| 32509/32509 [00:01<00:00, 25095.15it/s]

In [17]:
# convert into a <user, item, frequence> regular csv training file
freqs = {}

for i in tqdm(range(sequences.shape[0])):
    user = sequences.user.values[i]
    seqs = sequences.sequence_train.values[i]
    for seq in seqs:
        for item in seq:                           
            freqs[(user,item)] = freqs.get((user,item), 0) + 1
freqs = list(map(lambda kv: (kv[0][0], kv[0][1], kv[1]), freqs.items()))
frequences_train = pd.DataFrame(freqs, columns = ['user_id' , 'item_id', 'frequence'])

100%|██████████| 32509/32509 [00:00<00:00, 45600.84it/s]

In [18]:
frequences_train.head()

   user_id  item_id  frequence
0        0        0          1
1        0        1          1
2        0        2          4
3        0        3          1
4        0        4          1

In [19]:
frequences_train.to_csv(t_mall_frequences_train, index=False)

In [20]:
# convert into a <user, item, frequence> regular csv test file
freqs = {}

for i in tqdm(range(sequences.shape[0])):
    user = sequences.user.values[i]
    seqs = sequences.sequence_test.values[i]
    for seq in seqs:
        for item in seq:                           
            freqs[(user,item)] = freqs.get((user,item), 0) + 1
freqs = list(map(lambda kv: (kv[0][0], kv[0][1], kv[1]), freqs.items()))
frequences_test = pd.DataFrame(freqs, columns = ['user_id' , 'item_id', 'frequence'])

100%|██████████| 32509/32509 [00:00<00:00, 117927.52it/s]

In [21]:
frequences_test.to_csv(t_mall_frequences_test, index=False)

# Ta-Feng Dataset

In [81]:
df_ta_feng = pd.read_csv(ta_feng, encoding="ISO-8859-1", sep=',', error_bad_lines=False, usecols=[0,1,5], names=['time', 'user', 'item'])

# assume each user only makes at most one transaction everyday
df_ta_feng['trans_id'] =  df_ta_feng['user'].astype(str) + df_ta_feng['time'].astype(str) 
# sort before finding the products in the same basket
df_ta_feng = df_ta_feng.sort_values(['trans_id'])

/home/jb/.cache/pypoetry/virtualenvs/data-processing-for-seq-embeddings-reco-8_F3BWAW-py3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (1,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [82]:
# Associate transaction id for each row
user = df_ta_feng.user.values[0]
trans_buf_id = df_ta_feng.trans_id.values[0]
trans = 0
trans_id_list = []
for i in tqdm(range(df_ta_feng.shape[0])):
    if df_ta_feng.user.values[i] == user:
        if df_ta_feng.trans_id.values[i] != trans_buf_id:
            trans += 1
            trans_buf_id = df_ta_feng.trans_id.values[i]
        trans_id_list.append(trans)
    else:
        user = df_ta_feng.user.values[i]
        trans_buf_id = df_ta_feng.trans_id.values[i]
        trans = 0
        trans_id_list.append(trans)
df_ta_feng['trans_id'] = trans_id_list

100%|██████████| 817742/817742 [00:06<00:00, 121324.29it/s]

In [83]:
# remove users with less than 'min_uc' counts, and items with less than 'min_sc' counts
# k-cores filtering, cf. FPMC
df_ta_feng, user_activity, item_popularity = filter_rows(df_ta_feng, min_uc=25, min_sc=15)

In [84]:
users = df_ta_feng.user.nunique()
items = df_ta_feng.item.nunique()
print(f"After filtering:\n   users: {users}\n   items: {items}")

After filtering:
   users: 8821
   items: 9027

In [85]:
# exclude users with less than 10 transactions in total
user = df_ta_feng.user.values[0]
start = 0
df_list = []
train_test = [] # initial train_test indicator
for i in tqdm(range(df_ta_feng.shape[0])): # find transactions of each customer
    if df_ta_feng['user'].values[i] == user:
        continue
    df_user = df_ta_feng.iloc[start:i,:].copy()
    if df_user.trans_id.max() > 9: 
        df_list.append(df_user)
    user = df_ta_feng.user.values[i]
    start = i
df_ta_feng_filtered = pd.concat(df_list)
df_ta_feng_filtered = df_ta_feng_filtered[['user', 'item', 'trans_id']]
df_ta_feng_filtered.head(5)

100%|██████████| 467150/467150 [00:03<00:00, 126789.51it/s]

          user           item  trans_id
454270  100021  4710105045443         0
451859  100021  4710063341090         0
455830  100021  4710339772139         0
467287  100021  4710094014741         1
460286  100021  9310042571491         1

In [86]:
users = df_ta_feng_filtered.user.nunique()
items = df_ta_feng_filtered.item.nunique()
print(f"After transaction filtering:\n   users: {users}\n   items: {items}")

After transaction filtering:
   users: 1594
   items: 8331

In [87]:
sparsity = 1. * df_ta_feng_filtered.shape[0] / (users * items)
print(f"Dataset sparsity: {round(sparsity*100, 2)}%")

Dataset sparsity: 1.08%

In [88]:
# structures used to numerize the id (ie. to associate incremental integers to have a continuous list of numbers as ids)
users_id = pd.unique(df_ta_feng_filtered['user'])
items_id = pd.unique(df_ta_feng_filtered['item'])

In [89]:
item2id = dict((iid, i) for (i, iid) in enumerate(items_id))
user2id = dict((uid, i) for (i, uid) in enumerate(users_id))

In [90]:
numerized_data = df_ta_feng_filtered
numerized_data.user = numerized_data.user.apply(lambda x: user2id[x])
numerized_data.item = numerized_data.item.apply(lambda x: item2id[x])
numerized_data = numerized_data.rename(columns={'trans_id': 'tid'})
numerized_data.head(10)

        user  item  tid
454270     0     0    0
451859     0     1    0
455830     0     2    0
467287     0     3    1
460286     0     4    1
466455     0     5    1
399592     0     6    1
466130     0     7    1
399593     0     8    1
465712     0     9    1

In [91]:
# convert into sequences for each user
start = 0
df_dict_train = {}
df_dict_test = {}
df_dict_test_user_bool = {}
buf_seq_train = []
buf_seq_test = []
user = numerized_data.user.values[0]

for i in tqdm(range(numerized_data.shape[0])):
    if numerized_data['user'].values[i] == user:
        continue
    df_user = numerized_data.iloc[start:i,:].copy()
    user_known_items = set()

    for j in range(0, df_user.tid.max() + 1):            
        trans_items = set(df_user.loc[df_user.tid == j,'item'])
        if not len(trans_items) == 0:
            if j == df_user.tid.max():
                test_trans_items = set()
                for k in trans_items:
                    if k not in user_known_items:
                        test_trans_items.add(k)
                if len(test_trans_items) == 0:
                    df_dict_test_user_bool[user] = 0
                else:
                    df_dict_test_user_bool[user] = 1
                buf_seq_test.append(test_trans_items)
            else:    
                for k in trans_items:
                    user_known_items.add(k)
                buf_seq_train.append(trans_items)
    
    df_dict_train[user] = buf_seq_train
    df_dict_test[user] = buf_seq_test

    buf_seq_test = []
    buf_seq_train = []
    user = numerized_data.user.values[i]
    start = i    
    
sequences = pd.DataFrame()
sequences['user'] = df_dict_train.keys()
sequences['test_user'] = df_dict_test_user_bool.values()
sequences['sequence_train'] = df_dict_train.values()
sequences['sequence_test'] = df_dict_test.values()

100%|██████████| 143310/143310 [00:08<00:00, 16606.36it/s]
/home/jb/.cache/pypoetry/virtualenvs/data-processing-for-seq-embeddings-reco-8_F3BWAW-py3.8/lib/python3.8/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [92]:
sequences[sequences['test_user'] == 0]

,user,test_user,sequence_train,sequence_test
0,0,0,"[{0, 1, 2}, {3, 4, 5, 6, 7, 8, 9, 10, 11, 12, ...","({},)"
19,19,0,"[{1133, 159}, {1129}, {1136, 1134, 1135}, {114...","({},)"
24,24,0,"[{320, 995, 998, 1001, 1337, 1338, 1339}, {971...","({},)"
31,31,0,"[{463, 1625, 659, 1623, 1624, 409, 1626, 1627,...","({},)"
32,32,0,"[{1646}, {314, 1647}, {1655, 1324, 1453, 1648,...","({},)"
34,34,0,"[{1889, 1170}, {1890}, {834, 1891}, {1892, 189...","({},)"
66,66,0,"[{1730}, {1033, 2778, 2777, 68}, {545, 2779, 2...","({},)"
74,74,0,"[{428, 174}, {428, 2974}, {1753, 2525, 174}, {...","({},)"
85,85,0,"[{291}, {159, 51, 3268, 1463}, {821}, {314}, {...","({},)"
88,88,0,"[{994, 35, 3368, 3369, 3370, 496, 3061}, {834,...","({},)"
93,93,0,"[{713, 3450, 2358, 1401}, {404}, {465, 3451}, ...","({},)"
98,98,0,"[{2756, 1204, 3591}, {585, 371, 1545, 1031}, {...","({},)"
101,101,0,"[{659}, {836, 549, 3667, 3668, 1492, 3638, 366...","({},)"
108,108,0,"[{544}, {417, 421, 2075, 631, 2456, 3834, 3835...","({},)"
122,122,0,"[{1447, 2535, 2439}, {4054}, {859, 4054}, {405...","({},)"
140,140,0,"[{4264, 1497, 873, 4263}, {3712, 1153, 1089, 1...","({},)"
145,145,0,"[{4032, 578, 4351, 3083, 4347, 4348, 4349, 435...","({},)"
148,148,0,"[{1634, 4375, 4374, 271}, {4376, 4377, 4378}, ...","({},)"
177,177,0,"[{995, 229, 4877, 4878, 1843, 659}, {544, 2304...","({},)"
215,215,0,"[{161}, {161, 1451, 2020, 4351}, {3976, 161}, ...","({},)"
226,226,0,"[{4498, 3893, 5591, 5592, 5593}, {3689, 4582},...","({},)"
240,240,0,"[{5026, 836, 5383, 1321, 5743, 1042, 3029, 437...","({},)"
244,244,0,"[{1481, 673}, {1828}, {673, 1640, 4400, 3537, ...","({},)"
246,246,0,"[{1730, 2707}, {5794, 3107, 5795, 1766, 264, 2...","({},)"
252,252,0,"[{544, 1444, 3524, 1261, 31}, {1409, 1922, 144...","({},)"
255,255,0,"[{3009, 198, 883, 5878, 5879}, {4935, 271, 277...","({},)"
257,257,0,"[{964, 1844}, {4513, 2098, 1125, 2037}, {1601,...","({},)"
274,274,0,"[{260, 2021, 1062, 4112, 4952, 5374}, {5576, 5...","({},)"
281,281,0,"[{891, 776, 1612, 717, 2349, 495, 1307, 728, 1...","({},)"
303,303,0,"[{919}, {1360, 1493, 6261, 4878}, {321, 357, 1...","({},)"
320,320,0,"[{4740, 6406, 2794, 3725, 2287, 784, 2065, 659...","({},)"
322,322,0,"[{1541}, {320, 613, 7}, {1211, 1622}, {3649, 2...","({},)"
326,326,0,"[{3107, 3145, 1097, 586, 12, 268, 3468, 815, 1...","({},)"
333,333,0,"[{1463, 2050, 2462, 35, 3493, 2794, 5932, 717,...","({},)"
351,351,0,"[{544, 31}, {448, 449, 450, 1444, 498, 31}, {6...","({},)"
359,359,0,"[{784, 203, 772, 5501}, {3488, 513, 388, 2983,...","({},)"
374,374,0,"[{4483, 5859, 4327, 1835, 3536, 5362, 5525, 53...","({},)"
391,391,0,"[{4135}, {5862}, {5249, 250, 4412}, {4084}, {4...","({},)"
395,395,0,"[{1857, 962, 6091, 3197}, {2753}, {2962, 2059,...","({},)"
420,420,0,"[{2390, 4846, 4623}, {5544, 801, 2315, 1948}, ...","({},)"
428,428,0,"[{642, 2947, 803, 643, 903, 1096, 1013, 3574, ...","({},)"
450,450,0,"[{3761, 3172, 453, 2599}, {364, 7134}, {2565, ...","({},)"
456,456,0,"[{1856, 544, 6674, 4820, 2971, 3805, 4638}, {8...","({},)"
461,461,0,"[{4160, 1537, 1664, 564, 2046}, {3401, 1537, 1...","({},)"
474,474,0,"[{525, 998, 7198}, {386, 1573, 90, 3109, 1164,...","({},)"
486,486,0,"[{264, 3722, 269, 403, 4503, 544, 3874, 1443, ...","({},)"
490,490,0,"[{5060, 87}, {544, 575}, {834, 4042, 1396, 210...","({},)"
492,492,0,"[{448, 449, 453, 498, 500, 1434}, {4437, 430},...","({},)"
522,522,0,"[{1954, 2059, 332, 3155, 919, 1273, 4954}, {27...","({},)"
539,539,0,"[{544, 250}, {298}, {5511, 1258, 460, 332, 226...","({},)"
541,541,0,"[{257, 622, 718, 7378, 1110}, {3712, 780, 2575...","({},)"
548,548,0,"[{1730}, {2521, 1730, 1731, 1769}, {1840, 882,...","({},)"
555,555,0,"[{897, 2180, 3079, 1160, 7433, 1168, 3857, 279...","({},)"
566,566,0,"[{4107, 182, 6503}, {1350, 4859, 774, 3487}, {...","({},)"
589,589,0,"[{3082, 2763, 6956, 3406, 2574, 4407, 4126}, {...","({},)"
590,590,0,"[{1521, 583}, {3969, 6785, 452, 838, 3527, 183...","({},)"
605,605,0,"[{6760}, {7024, 682, 4939, 1658}, {6760, 2985,...","({},)"
632,632,0,"[{544}, {331, 5308, 2795, 159}, {2050, 35, 831...","({},)"
646,646,0,"[{320, 261, 3848, 174, 3155}, {395, 1700, 327,...","({},)"
650,650,0,"[{994, 1892, 1356, 5420, 913, 52, 6772, 5367, ...","({},)"
663,663,0,"[{544}, {2777, 868}, {2777, 3700, 993}, {162, ...","({},)"
671,671,0,"[{553}, {544, 386, 4359, 3178, 1168, 1042}, {1...","({},)"
676,676,0,"[{544, 1731}, {835}, {1401, 835, 159}, {5778, ...","({},)"
692,692,0,"[{1001, 995, 2733}, {1, 2106, 7498, 5452, 1200...","({},)"
699,699,0,"[{3342}, {1444, 773, 2087, 721, 849, 2805, 382...","({},)"
701,701,0,"[{474, 981}, {1240, 35, 347, 3633}, {458, 1011...","({},)"
708,708,0,"[{320, 1955}, {835, 4068, 453, 1062, 1927, 478...","({},)"
719,719,0,"[{544}, {7488, 6793}, {1788}, {2082}, {2082, 4...","({},)"
721,721,0,"[{1059, 613, 7, 5225, 6129, 3868}, {4490, 4686...","({},)"
747,747,0,"[{616}, {3427, 2214, 3783, 2842, 4701}, {834, ...","({},)"
748,748,0,"[{498, 453, 607}, {3925}, {3872, 3643, 861, 52...","({},)"
749,749,0,"[{2635, 4807}, {314, 428, 4994}, {659}, {3082}...","({},)"
764,764,0,"[{448, 449, 1440, 453, 2599, 446}, {5319, 1484...","({},)"
772,772,0,"[{968, 659, 196, 5301}, {7832, 1827, 843}, {96...","({},)"
775,775,0,"[{4608, 3588, 168, 4008, 4271, 2424}, {5957, 2...","({},)"
782,782,0,"[{224}, {5097, 3242, 5913}, {770}, {304, 3809}...","({},)"
801,801,0,"[{3268, 3783}, {1929, 6539, 2582}, {6304, 1137...","({},)"
806,806,0,"[{3992, 3268, 7309}, {2313, 595}, {2313, 285, ...","({},)"
812,812,0,"[{321, 970, 569}, {1635, 4683, 5702}, {3592, 2...","({},)"
822,822,0,"[{6418, 2887}, {35}, {3759, 271}, {320, 1138, ...","({},)"
827,827,0,"[{1634, 291, 3652, 4164, 6310, 2056, 5899, 460...","({},)"
835,835,0,"[{664}, {2205, 2167}, {904}, {1032, 4433, 683,...","({},)"
867,867,0,"[{1536, 320, 332, 558, 2717}, {35, 235, 237, 5...","({},)"
870,870,0,"[{2947}, {3494, 4871, 841, 1099, 4336}, {1785,...","({},)"
871,871,0,"[{4011}, {275, 3046, 3543}, {3845}, {371}, {20...","({},)"
877,877,0,"[{7939, 6954, 1579, 172, 5902, 3897, 2455, 258...","({},)"
883,883,0,"[{544}, {161, 6310, 2234, 92, 2490, 5532}, {37...","({},)"
891,891,0,"[{2478}, {2478}, {2478}, {2478}, {2478}, {2478...","({},)"
904,904,0,"[{673, 4357, 590}, {1301}, {1310}, {321, 590},...","({},)"
930,930,0,"[{32, 449, 544, 4577, 2538, 978, 500, 2456, 61...","({},)"
933,933,0,"[{5939, 3558}, {1039, 1042, 553, 2858, 558, 47...","({},)"
940,940,0,"[{583, 1164, 1998, 1907, 3315, 2777}, {837, 58...","({},)"
948,948,0,"[{2678}, {5243}, {976, 2678}, {949}, {750}, {4...","({},)"
954,954,0,"[{2838, 583}, {5208, 3836, 493}, {1627, 967}, ...","({},)"
963,963,0,"[{553}, {560, 962}, {1640, 553}, {773}, {474, ...","({},)"
984,984,0,"[{2325, 6674, 2003, 6003}, {8046}, {320, 577, ...","({},)"
993,993,0,"[{4805, 878, 7379, 2966, 1212}, {1537, 1, 2152...","({},)"
1009,1009,0,"[{6936, 6363, 3516}, {1658, 2290, 2751}, {1473...","({},)"
1013,1013,0,"[{1895, 1160, 6123, 5102, 750, 402, 6014, 3832...","({},)"
1014,1014,0,"[{745, 4995, 4996}, {8064, 1767, 4103, 745, 40...","({},)"
1016,1016,0,"[{92, 271}, {2848, 4673, 833, 780, 4341, 1437}...","({},)"
1020,1020,0,"[{1136}, {4095}, {7444}, {159}, {2247}, {1848}...","({},)"
1022,1022,0,"[{3961, 1009}, {2325}, {4164, 6984, 6388, 4090...","({},)"
1055,1055,0,"[{645, 1063, 2058, 301, 1133, 765}, {301, 1063...","({},)"
1069,1069,0,"[{4802, 1218, 6147, 647, 5003, 1100, 1295, 174...","({},)"
1074,1074,0,"[{2010, 1828, 190}, {320, 2500, 938, 2829, 119...","({},)"
1079,1079,0,"[{5853, 1606, 278}, {2637}, {320, 7267}, {3780...","({},)"
1080,1080,0,"[{320, 242}, {57, 1769}, {1290, 35, 818}, {449...","({},)"
1083,1083,0,"[{225, 1495, 4229, 1494, 1015, 1046}, {4102, 1...","({},)"
1109,1109,0,"[{3401}, {1803, 4853, 1806, 5902}, {5691, 159}...","({},)"
1116,1116,0,"[{6274, 3844, 391, 104, 8142, 2768, 4081, 979,...","({},)"
1144,1144,0,"[{7953, 642, 428, 4814}, {159, 224, 3810, 4803...","({},)"
1162,1162,0,"[{448, 449, 453}, {859, 228}, {1545}, {2525}, ...","({},)"
1168,1168,0,"[{4323, 2227, 6998, 3097, 28}, {259, 260, 3685...","({},)"
1181,1181,0,"[{1133}, {1762, 1699, 967, 490, 5132, 3604, 30...","({},)"
1186,1186,0,"[{320, 3968, 782, 85, 2047}, {2315, 659}, {396...","({},)"
1230,1230,0,"[{1130, 2635, 1968, 4624, 7511, 4799}, {2513, ...","({},)"
1232,1232,0,"[{6336, 3034, 229, 3302, 837, 1320, 4011, 971,...","({},)"
1257,1257,0,"[{238, 6353, 1971, 1812, 91}, {1304, 4820}, {2...","({},)"
1259,1259,0,"[{1851}, {1851}, {321, 195}, {1435}, {1946, 10...","({},)"
1276,1276,0,"[{8237, 818, 2870, 1309, 382}, {3111}, {835}, ...","({},)"
1285,1285,0,"[{238, 4622, 1971, 1337, 1338}, {673, 642, 333...","({},)"
1287,1287,0,"[{4510, 5097, 6418, 762, 1918}, {6472, 6964, 6...","({},)"
1293,1293,0,"[{2130, 1142, 486}, {1506, 328, 659, 1142, 150...","({},)"
1308,1308,0,"[{3641, 2635}, {1993}, {775, 4106, 1422, 912, ...","({},)"
1314,1314,0,"[{2050, 645, 1302, 2733, 2351, 2992, 1201, 249...","({},)"
1322,1322,0,"[{2985, 7053, 2957}, {3187}, {1520}, {7439}, {...","({},)"
1323,1323,0,"[{544, 3107, 3109, 268, 269}, {2626, 428, 1717...","({},)"
1349,1349,0,"[{4336, 1770, 1624, 1262}, {6980, 1262, 5167},...","({},)"
1353,1353,0,"[{2594, 428, 5422, 5426, 314}, {159}, {544, 25...","({},)"
1368,1368,0,"[{4011, 2316, 429, 326}, {4011, 436, 429, 326}...","({},)"
1386,1386,0,"[{3835, 3396, 3166}, {3267, 175}, {995, 772, 4...","({},)"
1406,1406,0,"[{35, 3109, 264, 6124, 269, 782}, {4321, 3141}...","({},)"
1423,1423,0,"[{3240, 4944, 882, 250, 5757}, {32, 1001, 5228...","({},)"
1443,1443,0,"[{480, 7010, 579, 3301, 2214, 6791, 1224, 5094...","({},)"
1445,1445,0,"[{7842, 6443, 8221}, {8221}, {1801}, {321, 198...","({},)"
1452,1452,0,"[{3968, 1922, 1100, 1645, 1658, 5117}, {577, 6...","({},)"
1461,1461,0,"[{1120, 897, 1922, 899, 4857}, {858, 4782, 111...","({},)"
1463,1463,0,"[{4544, 7618, 7882, 2508, 782, 883, 85}, {5511...","({},)"
1467,1467,0,"[{1769}, {800, 228, 7, 1640, 1967}, {1627, 995...","({},)"
1476,1476,0,"[{2601, 1162, 1999}, {2601, 1162, 428}, {4328,...","({},)"
1500,1500,0,"[{1024, 3654, 1003, 172, 685, 1004, 5713, 7737...","({},)"
1504,1504,0,"[{1258}, {556, 1462}, {7009, 489, 427, 556, 58...","({},)"
1506,1506,0,"[{2420}, {2466, 418, 1749, 3543}, {6304, 615},...","({},)"
1510,1510,0,"[{5217, 371}, {448}, {198}, {2760, 371}, {198}...","({},)"
1511,1511,0,"[{5178, 5934}, {6026}, {1261, 182}, {2561, 413...","({},)"
1520,1520,0,"[{1545, 1540, 3485}, {2564, 1096, 51, 1749, 31...","({},)"
1544,1544,0,"[{838, 882, 4486}, {5309, 838}, {544, 214}, {5...","({},)"
1563,1563,0,"[{1217, 1026, 868, 740, 5738, 7115, 62}, {1827...","({},)"
1574,1574,0,"[{4099, 2947, 371, 4436, 5783}, {35, 2054, 172...","({},)"
1575,1575,0,"[{564}, {4680, 118, 6687}, {564}, {4680, 7270,...","({},)"
1585,1585,0,"[{1282, 1444, 5543, 5224, 1804, 1552, 2292}, {...","({},)"

In [93]:
sequences.at[1588, 'sequence_train']

[{544, 587, 1116, 2879, 5910, 6832},
 {159, 427, 609, 659, 767, 831, 1028, 1157, 4724, 5213},
 {292, 554, 2351, 3248, 5503},
 {1144, 4393, 5634},
 {154, 275, 878, 995, 1343, 1454, 1669, 2030, 2230, 5452, 5929, 7143},
 {154, 609, 844, 1089, 1669, 2084, 8329},
 {3371, 8119},
 {174, 558, 2788, 5101},
 {344, 863, 3009, 5752},
 {154, 544, 609, 844, 5101, 5237, 6822, 7333}]

In [101]:
sequences.at[1588, 'sequence_test']

({339, 967, 1001},)

In [95]:
# convert into a <user, item, frequence> regular csv file
freqs = {}

for i in tqdm(range(sequences.shape[0])):
    user = sequences.user.values[i]
    seqs = sequences.sequence_train.values[i]
    for seq in seqs:
        for item in seq:                           
            freqs[(user,item)] = freqs.get((user,item), 0) + 1
freqs = list(map(lambda kv: (kv[0][0], kv[0][1], kv[1]), freqs.items()))
frequences_train = pd.DataFrame(freqs, columns = ['user_id' , 'item_id', 'frequence'])

100%|██████████| 1593/1593 [00:00<00:00, 20293.11it/s]

In [96]:
frequences_train.head()

   user_id  item_id  frequence
0        0        0          3
1        0        1          3
2        0        2          5
3        0        3          2
4        0        4          1

In [97]:
frequences_train.to_csv(ta_feng_frequences_train, index=False)

In [98]:
# convert into a <user, item, frequence> regular csv test file
freqs = {}

for i in tqdm(range(sequences.shape[0])):
    user = sequences.user.values[i]
    seqs = sequences.sequence_test.values[i]
    for seq in seqs:
        for item in seq:                           
            freqs[(user,item)] = freqs.get((user,item), 0) + 1
freqs = list(map(lambda kv: (kv[0][0], kv[0][1], kv[1]), freqs.items()))
frequences_test = pd.DataFrame(freqs, columns = ['user_id' , 'item_id', 'frequence'])

100%|██████████| 1593/1593 [00:00<00:00, 82150.25it/s]

In [99]:
frequences_test.head()

   user_id  item_id  frequence
0        1      124          1
1        1      125          1
2        2      164          1
3        2      165          1
4        3      211          1

In [100]:
frequences_test.to_csv(ta_feng_frequences_test, index=False)